.env
.vscode/
.idea/

typechain-types

# OS file
.DS_Store

# Dependency directories
node_modules
jspm_packages
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Compiled binary addons (http://nodejs.org/api/addons.html)
bin
build
artifacts
cache
dist
coverage

# Coverage directory used by tools like istanbul
.coverageArtifacts
__pycache__/
coverage
draft/

*.test.txt
out/

coverage.json
.npmrc